@font-face {
    font-family: Montserrat;
    src: url(Montserrat\ font/static/Montserrat-Light.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto\ font/static/Roboto-Thin.ttf);
}
